.contenedor{
    
    width: 1700px;
    height: 1000px;
    
    text-align: center;
    justify-content: space-evenly;
    display: flex;
    align-items:center;
    margin: auto;
    
    
}
.encabezado{
    color: white;
    text-align: center;
}
.uno{
    background-color: beige;
    width: 320px;
    height: 350px;
    box-shadow: 0px 0px 5px white;
    text-align:center;
    position: relative;
    border-radius: 10px;
    
}
.dos{
    width: 100px;
    height: 100px;
    background-color: aliceblue;
    justify-content:right
    
}
body{
    background-image: url(img/negro.jpg);
    
}
img{
    width: 320px;
    height: 250px;
    border-radius: 5px;
}
.tooltipe{
    background-color: black;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 4px;
    right: 2px;
    border-radius: 50px ;
    text-align: center;
    color: white;
}
.info{
    background-color: black;
    position:absolute;
    color: white;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;

    
}

.tooltipe:hover .info{
    visibility: visible;
    opacity: 5;
}
.uno:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 20px white;
}